<footer class="footer">
	<nav class="footer__menu">
		<ul>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://news.google.com/search?q=adalab&hl=es-419&gl=US&ceid=US%3Aes-419"
					linkTitle="Have a look at our articles"
					linkAlt="Articles page link"
					text="Articles"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://www.dummies.com/web-design-development/html5-and-css3/"
					linkTitle="Have a look at our books"
					linkAlt="Books page link"
					text="Books"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://www.meetup.com/es-ES/Reunion-informativa-Programa-Mentoras-ADaLab/"
					linkTitle="Have a look at our next events"
					linkAlt="Events page link"
					text="Events"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://adalab.es/empresas/"
					linkTitle="Know our reasons"
					linkAlt="Reasons page link"
					text="Reasons"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://medium.com/adalab/c%C3%B3mo-ser-la-programadora-front-end-junior-que-todas-las-empresas-quieren-abf16a511497"
					linkTitle="Know some useful tips"
					linkAlt="Tips page link"
					text="Tips"
				></include>
			</li>
		</ul>
	</nav>

	<nav class="footer__menu footer__socialmedia">
		<ul>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://twitter.com/aliciacolom/"
					linkTitle="Follow us on Twitter"
					linkAlt="Twitter account link"
					text="Twitter"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://www.instagram.com/aliciacolom/"
					linkTitle="Follow us on Instagram"
					linkAlt="Instagram account link"
					text="Instagram"
				></include>
			</li>
			<li>
				<include
					src="./link.html"
					linkClass="footer__menu--link"
					url="https://mastodon.social/about"
					linkTitle="Follow us on Mastodon"
					linkAlt="Mastodon link"
					text="Mastodon.social"
				></include>
			</li>
		</ul>
	</nav>
	<ul class="footer__copyright">
		<li><small> &copy;2017</small></li>
		<li>
			<small
				>we
				<span class="footer__copyright--heart">&#10084;</span> components</small
			>
		</li>
	</ul>
</footer>
