<footer class="footer">
	<nav class="footer__menu containerSize">
		<ul class="listDeco">
			<include
				src="./link.html"
				linkTitle="Have a look at our articles"
				linkAlt="Articles page link"
				text="Articles"
			></include>

			<include
				src="./link.html"
				linkTitle="Have a look at our books"
				linkAlt="Books page link"
				text="Books"
			></include>

			<include
				src="./link.html"
				linkTitle="Have a look at our next events"
				linkAlt="Events page link"
				text="Events"
			></include>

			<include
				src="./link.html"
				linkTitle="Know our reasons"
				linkAlt="Reasons page link"
				text="Reasons"
			></include>

			<include
				src="./link.html"
				linkTitle="Know some useful tips"
				linkAlt="Tips page link"
				text="Tips"
			></include>
		</ul>
	</nav>

	<nav class="footer__menu footer__socialmedia containerSize">
		<ul class="listDeco">
			<include
				src="./link.html"
				linkTitle="Follow us on Twitter"
				linkAlt="Twitter account link"
				text="Twitter"
			></include>

			<include
				src="./link.html"
				linkTitle="Follow us on Instagram"
				linkAlt="Instagram account link"
				text="Instagram"
			></include>

			<include
				src="./link.html"
				linkTitle="Follow us on Mastodon"
				linkAlt="Mastodon link"
				text="Mastodon.social"
			></include>
		</ul>
	</nav>

	<ul class="footer__copyright containerSize listDeco">
		<li><small> &copy;2017</small></li>
		<li>
			<small>
				<span class="footer__copyright--we">We </span>
				<span class="footer__copyright--heart">&#10084;</span>
				components</small
			>
		</li>
	</ul>
</footer>
