<footer class="footer">
	<div class="footer__menu">
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Articles"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Books"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Events"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Reasons"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Tips"
		></include>
	</div>

	<div class="footer__socialmedia">
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Twitter"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Instagram"
		></include>
		<include
			src="./link.html"
			linkClass="footer__menu--link"
			url=""
			linkTitle=""
			linkAlt=""
			text="Mastodon.social"
		></include>
	</div>
	<div class="footer__copyright">
		<small> &copy;2017</small>
		<small>
			we <span class="footer__copyright--heart">&#10084;</span> components</small
		>
	</div>
</footer>
