<header class="header">
	<div class="menuContainer">
		<img
			src="./assets/images/ico-menu.svg"
			href="https://adalab.es/"
			class="menuContainer__hamburger"
			title="Open the menu"
			alt="Drop down menu"
		/>
	</div>
	<div class="probando">
		<div class="hero">
			<h1 class="hero__title">Anonymous proxy</h1>
			<p class="hero__subtitle">In hac habitasse platea dictumst.</p>
			<div class="hero__arrowContainer">
				<img
					src="./assets/images/ico-scroll-down.svg"
					href="#"
					class="hero__arrowContainer--arrowDown"
					title="Keep discovering"
					alt="Next section link"
				/>
			</div>
		</div>
	</div>
</header>
