<main>
	<section role="Intro" class="intro">
		<div class="intro__content">
			<h2 class="intro__smallText">Insomnia tips</h2>
			<h3 class="intro__title">Looking through a window</h3>
			<p class="intro__text">
				Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
				luctus ex diam nec lectus. Vivamus semper sodales rutrum.
			</p>

			<!-- Sobre el botón GO: He probado a utilizar <include> de link.html para la reutilización de código, pero tras varias pruebas no he conseguido que reconociera ciertos estilos. Por lo que he generado este trozo de código nuevo -->

			<a href="https://adalab.es/" target="_blank" class="linkDeco">
				<div
					class="intro__button"
					title="Let's go!"
					alt="Insomnia tips link"
					role="link"
				>
					Go
				</div>
			</a>
		</div>
	</section>

	<section role="Purchase" class="purchase">
		<h2 class="purchase__title">3 reasons to purchase</h2>
		<ul role="list" class="listDeco">
			<li class="purchase__item" role="article">
				<h3 class="purchase__item--title" role="heading">Ut sed metus</h3>
				<p class="purchase__item--text" role="text">
					Lorem ipsum dolor sit amet, consecteur.
				</p>
			</li>
			<li class="purchase__item" role="article">
				<h3 class="purchase__item--title" role="heading">Curabitur ac erat</h3>
				<p class="purchase__item--text" role="text">
					Mauris mattis urna quis lorem molestie.
				</p>
			</li>
			<li class="purchase__item" role="article">
				<h3 class="purchase__item--title" role="heading">Morbi dictum</h3>
				<p class="purchase__item--text" role="text">
					Aliquam in dolor et dolor tincidunt.
				</p>
			</li>
		</ul>

		<!-- Sobre el botón MORE REASONS: He probado a utilizar <include> de link.html para la reutilización de código, pero tras varias pruebas no he conseguido que reconociera ciertos estilos. Por lo que he generado este trozo de código nuevo -->

		<a href="https://adalab.es/" target="_blank" class="purchase__link linkDeco">
			<div
				class="purchase__link--button"
				title="Know our reasons"
				alt="Reasons link"
				role="link"
			>
				More reasons
			</div>
		</a>

		<a
			href="#"
			class="purchase__arrowContainer linkDeco"
			title="Go to the top"
			alt="Top page link"
			role="link"
			><img src="./assets/images/ico-arrow.svg" />
		</a>
	</section>
</main>
