<main class="main">
	<section role="Intro" class="main__intro">
		<p class="main__intro--smallText">Insomnia tips</p>
		<h2 class="main__intro--title">Looking through a window</h2>
		<p class="main__intro--text">
			Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
			luctus ex diam nec lectus. Vivamus semper sodales rutrum.
		</p>
		<button class="main__intro--button" href="" target="_blank" title="" alt="">
			Go
		</button>
	</section>
	<section role="Purchase" class="main__purchase">
		<h2 class="main__purchase--title">3 reasons to purchase</h2>
		<div>
			<div class="main__purchase--item">
				<h3 class="main__purchase--itemTitle">Ut sed metus</h3>
				<p class="main__purchase--itemText">
					Lorem ipsum dolor sit amet, consecteur.
				</p>
			</div>
			<div class="main__purchase--item">
				<h3 class="main__purchase--itemTitle">Curabitur ac erat</h3>
				<p class="main__purchase--itemText">
					Mauris mattis urna quis lorem molestie.
				</p>
			</div>
			<div class="main__purchase--item">
				<h3 class="main__purchase--itemTitle">Morbi dictum</h3>
				<p class="main__purchase--itemText">
					Aliquam in dolor et dolor tincidunt.
				</p>
			</div>
		</div>
		<button
			class="main__purchase--button"
			href=""
			target="_blank"
			title=""
			alt=""
		>
			More reasons
		</button>
  </section>
  <img
  src="./assets/images/ico-arrow.svg"
  class="main__arrowUp"
  title=""
  alt=""
/>
</main>
