<main class="main">
	<section role="Intro" class="intro">
		<p class="intro__smallText">Insomnia tips</p>
		<h2 class="intro__title">Looking through a window</h2>
		<p class="intro__text">
			Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
			luctus ex diam nec lectus. Vivamus semper sodales rutrum.
		</p>
		<button class="intro__button" href="" target="_blank" title="" alt="">
			Go
		</button>
	</section>
	<section role="Purchase" class="purchase">
		<h2 class="purchase__title">3 reasons to purchase</h2>
		<div>
			<div class="purchase__item">
				<h3 class="purchase__item--title">Ut sed metus</h3>
				<p class="purchase__item--text">
					Lorem ipsum dolor sit amet, consecteur.
				</p>
			</div>
			<div class="purchase__item">
				<h3 class="purchase__item--title">Curabitur ac erat</h3>
				<p class="purchase__item--text">
					Mauris mattis urna quis lorem molestie.
				</p>
			</div>
			<div class="purchase__item">
				<h3 class="purchase__item--title">Morbi dictum</h3>
				<p class="purchase__item--text">
					Aliquam in dolor et dolor tincidunt.
				</p>
			</div>
		</div>
		<button
			class="purchase__button"
			href=""
			target="_blank"
			title=""
			alt=""
		>
			More reasons
		</button>
		<div class="purchase__arrowContainer"><img
			src="./assets/images/ico-arrow.svg"
			href="#"
			class=""
			title="Go to the top"
			alt="Top page link"
		/></div>
  </section>

</main>
