<section class="intro">
  <div class="test">
    <div class="intro__content">
      <h2 class="intro__smallText">Insomnia tips</h2>
      <h3 class="intro__title">Looking through a window</h3>
      <p class="intro__text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
        at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </div>

    <!-- Sobre el botón GO: He probado a utilizar <include> de link.html para la reutilización de código, pero tras varias pruebas no he conseguido que reconociera ciertos estilos. Por lo que he generado este trozo de código nuevo -->

    <a href="https://adalab.es/" target="_blank" class="linkDeco ">
      <div
        class="intro__button"
        title="Let's go!"
        alt="Insomnia tips link"
        role="link"
      >
        Go
      </div>
    </a>
  </div>
</section>