<section id="purchase" class="purchase">
	<h2 class="purchase__title">3 reasons to purchase</h2>
	<ul class="wrapper listDeco">
		<include
			src="article.html"
			titleArticle="Ut sed metus"
			textArticle="Lorem ipsum dolor sit amet, consecteur."
		></include>
		<include
			src="article.html"
			titleArticle="Curabitur ac erat"
			textArticle="Mauris mattis urna quis lorem molestie."
		></include>
		<include
			src="article.html"
			titleArticle="Morbi dictum"
			textArticle="Aliquam in dolor et dolor tincidunt."
		></include>
	</ul>

	<!-- About MORE REASONS button: <include> of link.html in order to reuse code. But the styles doesn't work well. So I generate new code -->

	<a href="https://adalab.es/" target="_blank" class="purchase__link linkDeco">
		<div
			class="purchase__link--button"
			title="Know our reasons"
			alt="Reasons link"
		>
			More reasons
		</div>
	</a>

	<a
		href="./index.html#top"
		class="arrowContainer"
		title="Go to the top"
		alt="Top page link"
		><img src="./assets/images/ico-arrow.svg" class="arrowContainer--arrow" />
	</a>
</section>
