// fonts
$font-title: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;


// colors
$black: #000000;
$white: #ffffff;

$dark-grey-blue: #304268;
$greyish-brown: #4a4a4a;

$cerulean: #0271bc;
$lightblue: #8ccbea;
$ice-blue: #eff9ff;

$bright-orange: #f26002;
