// fonts
$font-title: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

// colors
$color-darker: #000000;
$color-lighter: #ffffff;
$color-bright: #f26002;

$color-dark-text: #4a4a4a;
$color-light-text: #8ccbea;

$color-menu: #0271bc;
$color-purchase: #eff9ff;
$color-footer: #304268;
