.header {
	height: 100vh;
	width: 100vw;
	background-image: url("../images/cover.jpg"); 
	background-color: $cerulean; /* Used if the image is unavailable */
	background-position: top;
	background-repeat: no-repeat;
	color: $white;
	
	&__menu {
	}

	&__hero {
		&--title {
		}

		&--subtitle {
		}

		&--arrowDown {
		}
	}
}
