.hero {
	height: 100vh;
	max-width: 100vw;
	background-image: url("../images/cover.jpg");

	/* BG_COLOR: Used in low-end mobile or if the image is unavailable */
	background-color: $color-menu;

	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	&__content {
		color: $color-lighter;
		text-align: center;

		&--title {
			font-family: $font-title;
			font-size: 42px;
			line-height: 55px;
			text-transform: uppercase;
			padding-bottom: 10px;
			@media all and (min-width: 768px) {
				font-size: 80px;
				line-height: 106px;
			}
			@media all and (min-width: 1200px) {
				font-size: 100px;
				line-height: 132px;
				padding-bottom: 20px;
			}
		}
		&--subtitle {
			font-family: $font-text;
			font-size: 16px;
			@media all and (min-width: 768px) {
				font-size: 24px;
				padding-bottom: 0;
			}
		}
	}

	&__arrowContainer {
		background-color: $color-lighter;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin: 45px 0;
		display: flex;
		justify-content: center;
	}
}
