
.intro {
	background-color: $white;
	padding: 30px 15px 0 15px;

	@media all and (min-width: 768px) {
		padding-right: 39px;
		padding-left: 39px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__content {
		max-width: 690px;
		@media all and (min-width: 1200px) {
			max-width: 730px;
		}


		&--smallText {
			color: $lightblue;
			font-family: $font-text;
			font-size: 14px;
			line-height: 30px;
			text-transform: capitalize;
			@media all and (min-width: 1200px) {
				font-size: 16px;
			}
		}

		&--title {
			color: $black;
			font-family: $font-title;
			font-size: 24px;
			line-height: 30px;
			text-transform: capitalize;
			@media all and (min-width: 768px) {
				font-size: 26px;
				line-height: 45px;
			}
			@media all and (min-width: 1200px) {
				font-size: 32px;
			}
		}

		&--text {
			color: $greyish-brown;
			font-family: $font-text;
			font-size: 18px;
			line-height: 30px;
			padding: 15px 0 30px 0;
			@media all and (min-width: 768px) {
				font-size: 20px;
				padding-top: 30px;
			}
		}

		&--button {
			height: 45px;
			width: 76px;
			border-radius: 22.5px;
			border: $bright-orange 2px solid;
			background-color: $white;
			color: $bright-orange;
			line-height: 45px;
			font-family: $font-text;
			font-size: 20px;
			margin-bottom: 45px;
			@media all and (min-width: 768px) {
				width: 91px;
				margin-bottom: 60px;
			}
			@media all and (min-width: 1200px) {
				width: 160px;
			}
		}
	}
}

.purchase {
	background-color: $ice-blue;
	color: $black;
	padding: 30px 15px 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		color: $black;
		line-height: 30px;
		font-family: $font-title;
		font-size: 24px;
		text-transform: capitalize;
	}

	&__item {
		margin-top: 45px;
		text-align: center;
		width: 180px;

		&--title {
			color: $black;
			line-height: 30px;
			font-family: $font-title;
			font-size: 18px;
		}

		&--text {
			color: $black;
			line-height: 30px;
			font-family: $font-text;
			font-size: 18px;
		}
	}

	&__button {
		height: 45px;
		width: 184px;
		border-radius: 22.5px;
		border: $bright-orange 2px solid;
		background-color: $bright-orange;
		color: $white;
		line-height: 45px;
		font-family: $font-text;
		font-size: 20px;
		margin: 45px 0 60px 0;
	}

	&__arrowContainer {
		background-color: white;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		text-align: center;
		justify-content: center;
		transform: translate(0, 50%);

		/* 		@media all and (min-width: 768px) {
			transform: translate(0, -67.5px);
		} */
	}
}
