.purchase {
	background-color: $ice-blue;
	color: $black;
	padding: 30px 15px 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		color: $black;
		line-height: 30px;
		font-family: $font-title;
		font-size: 24px;
		text-transform: capitalize;
	}

	&__item {
		margin-top: 45px;
		text-align: center;
		width: 180px;

		&--title {
			color: $black;
			line-height: 30px;
			font-family: $font-title;
			font-size: 18px;
		}

		&--text {
			color: $black;
			line-height: 30px;
			font-family: $font-text;
			font-size: 18px;
		}
	}

	&__link {
		margin: 45px 0 60px 0;
		&--button {
			height: 45px;
			width: 184px;
			border-radius: 22.5px;
			border: $bright-orange 2px solid;
			background-color: $bright-orange;
			color: $white;
			line-height: 45px;
			font-family: $font-text;
			font-size: 20px;
			text-align: center;
			&:hover {
				background-color: $white;
				color: $bright-orange;
			}
		}
	}

	&__arrowContainer {
		background-color: white;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		text-align: center;
		justify-content: center;
		transform: translate(0, 50%);

		animation-duration: 5s;
		animation-name: arrowScale;
		animation-iteration-count: infinite;
		animation-timing-function: ease;

		@keyframes arrowScale {
			from {
				transform: translate(0, 50%) scale(1);
			}

			63% {
				transform: translate(0, 50%) scale(1);
			}

			70% {
				transform: translate(0, 50%) scale(1.5);
			}

			77% {
				transform: translate(0, 50%) scale(1);
			}

			to {
				transform: translate(0, 50%) scale(1);
			}
		}

		&--arrow {
			animation-duration: 5s;
			animation-name: arrowSpin;
			animation-iteration-count: 15;
			animation-timing-function: linear;

			@keyframes arrowSpin {

				from {
					transform: rotate(-360deg);
				}

				25% {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(0deg);
				}
			}
		}
	}
}
