.intro {
	background-color: $color-lighter;
	padding: 30px 15px 0 15px;

	@media all and (min-width: 768px) {
		padding-right: 39px;
		padding-left: 39px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__content {
		max-width: 690px;
		@media all and (min-width: 1200px) {
			max-width: 730px;
		}
	}

	&__smallText {
		color: $color-light-text;
		font-family: $font-text;
		font-size: 14px;
		line-height: 30px;
		text-transform: capitalize;
		@media all and (min-width: 1200px) {
			font-size: 16px;
		}
	}

	&__title {
		color: $color-darker;
		font-family: $font-title;
		font-size: 24px;
		line-height: 30px;
		text-transform: capitalize;
		@media all and (min-width: 768px) {
			font-size: 26px;
			line-height: 45px;
		}
		@media all and (min-width: 1200px) {
			font-size: 32px;
		}
	}

	&__text {
		color: $color-dark-text;
		font-family: $font-text;
		font-size: 18px;
		line-height: 30px;
		padding: 15px 0 30px 0;
		@media all and (min-width: 768px) {
			font-size: 20px;
			padding-top: 30px;
		}
	}

	&__button {
		background-color: $color-lighter;
		height: 45px;
		width: 76px;
		border: $color-bright 2px solid;
		border-radius: 22.5px;
		color: $color-bright;
		font-family: $font-text;
		font-size: 20px;
		line-height: 45px;
		margin-bottom: 45px;
		text-align: center;
		@media all and (min-width: 768px) {
			width: 91px;
			margin-bottom: 60px;
		}
		@media all and (min-width: 1200px) {
			width: 160px;
		}
		&:hover {
			background-color: $color-bright;
			color: $color-lighter;
		}
	}
}
