.purchase {
	background-color: $color-purchase;
	color: $color-darker;
	padding: 30px 15px 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media all and (min-width: 1200px) {
		padding-top: 60px;
	}

	&__title {
		color: $color-darker;
		font-family: $font-title;
		font-size: 24px;
		line-height: 30px;
		text-transform: capitalize;
		@media all and (min-width: 768px) {
			font-size: 26px;
			line-height: 45px;
		}
		@media all and (min-width: 1200px) {
			font-size: 32px;
			line-height: 45px;
		}
	}

	&__item {
		width: 184px;
		margin-top: 45px;
		text-align: center;
		@media all and (min-width: 768px) {
			width: 210px;
			margin-left: 15px;
			margin-right: 15px;
		}
		@media all and (min-width: 1200px) {
			width: 350px;
		}
		&--title {
			color: $color-darker;
			font-family: $font-title;
			font-size: 18px;
			line-height: 30px;
			@media all and (min-width: 768px) {
				font-size: 24px;
				margin-bottom: 14px;
			}
		}

		&--text {
			max-height: 63px;
			color: $color-darker;
			font-family: $font-text;
			font-size: 18px;
			line-height: 30px;
			@media all and (min-width: 768px) {
				font-size: 20px;
				max-height: 68px;
			}
		}
	}

	&__link {
		margin: 45px 0 15px 0;
		&--button {
			height: 45px;
			width: 184px;
			border-radius: 22.5px;
			border: $color-bright 2px solid;
			background-color: $color-bright;
			color: $color-lighter;
			font-family: $font-text;
			font-size: 20px;
			line-height: 45px;
			text-align: center;
			&:hover {
				background-color: $color-lighter;
				color: $color-bright;
			}
		}
		@media all and (min-width: 768px) {
			margin-top: 60px;
		}
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;

	@media all and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}
